{% extends 'layout.html' %}

{% load static %}

{% block content%}


<section class="container introduction">
    <div class="introduction_text">

        <h1>Hi, I’m <b>Jhosian</b>,  <b>Web Designer</b> and <b>Developer</b> Based in <b>México</b>.</h1>
        <p>I'm a simple guy who enjoys making things with web technologies, I'd like to hear your project idea and make
            it into code. Outside of work, I like listening to music, play video games, and read comic books. With love
            made in México</p>
        <br>
        <a href="#">Dowload CV</a>
    </div>

    <div class="introduction_image">
        <img src="{% static 'portfolio/images/person.jpg' %}" alt="Jhosian Gutiérrez | Web Developer" >
    </div>
</section>

<section class="projects" id="projects">
    <div class="container">
        <h2>My recent Projects</h2>
        <div class="card-group">
            {% for project in projects %}
            <div class="card">

                <div class="card-image">
                    <img src="{{project.image.url}}" alt="{{project.title}}">
                </div>

                <div class="card-text">

                    <div class="card-title">
                        <h2>{{project.title}}</h2>
                    </div>

                    <div class="card-description">
                        <p>{{project.description}}</p>
                    </div>

                    <div class="card-button">
                        <a href="{{project.url}}">View project</a>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}