{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">


    <title>Jhosian Gutiérrez | Web Developer</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!--  BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    {% include 'partials/navbar.html' %}


    {% block content %}

    {% endblock %}

    {% include 'partials/footer.html' %}

    <!-- Mailto -->
    <script src="https://cdn.jsdelivr.net/npm/mailtoui@1.0.3/dist/mailtoui-min.js"></script>
    <!-- Menu Js -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Scroll Nav JS -->
    <script src="{% static 'js/nav-scroll.js' %}"></script>
</body>

</html>