<section class="container footer" id="contact">
    <div class="footer-text">
        <h2>Let's Connect</h2>

        <p>I'd like to hear your idea.
            Any solution you need, send me a message on my social networks,
            it will be a pleasure for me to read it. </p>
    </div>

    <div class="footer-social">

        <a href=""><i class='bx bxl-github'></i></a>
        <a href=""><i class='bx bxl-linkedin'></i></a>
        <a href=""><i class='bx bxl-twitter' ></i></a>
        <a href=""><i class='bx bx-mail-send'></i></a>

    </div>
</section>